:root {
  --background-main: #6495ed;
  --background-child: rgb(206, 255, 99);
  --white: #fdfefeb3;
  --black: #283747;
}


.input-city{
  border-radius:24px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
}

Button.btn {
    background: var(--background-child);
  font-size: 20px;
  color: var(--black);
  border-radius: 25px;
  box-shadow: 0 7px 0px #387796;
  display: inline-block;
  transition: all .2s;
  position: relative;
  margin: 0 8px;
  padding: 8px 16px;
 font-size: 16px;
  position: relative;
  top: 0;
  /* cursor: pointer; */
  /* margin: 0 20px; */
}

Button.btn:active {
  top: 3px;
  box-shadow: 0 1px 0px #387796;
  transition: all .2s;
}



/* Button.btn {
  display: block;
  font-weight: 500;
  cursor: pointer;
  color: var(--black);
  padding: 0.7em 1.7em;
  font-size: 16px;
  transition: all 200ms ease-in-out;
  border-radius: 24px;
  background: var(--background-child);
  border: 1px solid var(--background-child);
  transition: all .3s;
  box-shadow: 1px 1px 5px var(--black),
    -1px -1px 5px var(--black);
  margin: 0 8px;
  padding: 8px 16px;
} */

 Button.btn:hover {
  color: var(--background-child);
  /* box-shadow: inset 4px 4px 12px var(--background-child); */
  border: solid 2px var(--background-child);
}


Button.btn:active {
  /* color: var(--background-child); */
  /* box-shadow: inset 4px 4px 12px var(--background-child); */
  /* border: none; */
  border: solid 2px var(--background-child);
}

.App {
  font-family: sans-serif;
  color: var(--button-color);
  width: 100%;
}

.emoji {
  margin: 0 auto;
}

.emoji canvas {
  height: 85px;
  width: 85px;
}



body {
  /* font-family: "Segoe UI"; */
  
  color: var(--button-color);
  width: 100%;
}

section.inner-box {
  margin: 1em 0;
  border-radius: 24px;
  /* background: var(--background-child); */

}

.inner-box-day {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  padding: 1.5em !important;
  font-family: "Montserrat";
}

.block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--background-main);
  justify-content: space-around;
  border-radius: 24px;
  background: #6495ed;
  box-shadow: 8px 8px 16px #4d73b6,
    -8px -8px 16px #7bb7ff;
}


.form-city {
  display: flex;
  flex-wrap: wrap;
  flex: start;
}

.weather-temperature {
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  top: calc(50%);
  left: 1rem;
}

.enter-city label,
.enter-city .form-control {
  left: 0.5rem;
  padding-left: 3rem;
  background-color: var(--white);
}

.form-control {
  width: 100%;
}


.btn-text {
  font-weight: 600;
}

.CurrentInfo {
  padding: 1em 0;
}

h1#city {
  font-size: 48px;
  font-weight: 800;
}

#current-degree {
  font-size: 60px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 90px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature img {
  margin-top: 5px;
  height: 96px;
  width: 96px;
}

.weather-temperature .units {
  font-size: 20px;
  position: relative;
  top: -25px;
}

.weather-temperature a {
  text-decoration: none;
  color: var(--white);
}

.weather-temperature .active {
  color: var(--black);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
  
}

span {
  font-size: 15px;
  float: top;
}

#day-time {
  opacity: 0.7;
}


.description {
  display: flex;
  justify-content: flex-start;
}

.description::first-letter {
  text-transform: capitalize;
}

.desc {
  color: var(--black);
  /* background-color: var(--background-child); */
  border: none solid var(--background-child);
  border-radius: 5px;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: var(--main-color);
}

.weather-forecast {
  display: flex;
  /* background-color: var(--background-child); */
  padding: 1em 0;
}

.box-day {
  text-align: center;
  color: var(--black);
  justify-content: center;
  margin: 5px 0;
}

.day-of-week {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.weather-forecast-temp-min {
  opacity: 0.7;
  font-weight: 500;
}
.weather-forecast-temp-max {
  opacity: 1;
  font-weight: 600;
}


.weather-forecast-temp {
  display: flex;
  font-size: 16px;
  flex-direction: column;
}

.item {
  align-items: start;
  flex-direction: column;
  /* justify-content: center; */
}

.icon-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.icon-forecast canvas {

  height: 55px;
  width: 55px;
}
/* 
span#detail{
  font-weight: 500;
} */


@media (max-width: 1200px) {
  body {
    padding: 2em 2em;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 5em 15em;
  }
}

@media (min-width: 992px) {
  .box-day {
    margin: 0.5em 0;
  }
}

@media (max-width: 768px) {

  Button.btn {
    margin: 3px 6px;
  }

  .weather-forecast {
    flex-wrap: wrap;
    align-items: center;
  }

  .inner-box-day {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.4em 0;
  }

  .box-day {
    margin: 1px 0;
  }

  .day-of-week {
    display: flex;
    flex-direction: column;
  }

  .weather-forecast-temp {
    font-size: 16px;
    flex-direction: row;

  }

  .weather-forecast-temp-min {
    margin-left: 5px;
  }

  .icon-forecast {
    margin: 0 20px;
  }

  .icon-forecast canvas {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 2em 1em;
  }

  Button.btn {
    margin: 3px 6px;
  }

  .weather-forecast {
    flex-wrap: wrap;
  }

  .description {
    justify-content: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather-forecast-temp {
    font-size: 16px;
    flex-direction: row;
  }

  .temperature {
    font-size: 60px;
    /* font-weight: 700; */
    line-height: 1;
  }

  .icon-forecast canvas {
    height: 35px;
    width: 35px;
  }

  .icon-forecast {
    margin: 0 10px;
  }

  .emoji canvas {
    height: 55px;
    width: 55px;
  }

  .weather-temperature .units {
    font-size: 15px;
  }

  .description {
    padding: 5px 0 0 0;

  }

  .box-day {
    margin: 1px 0;
    padding: 0;
  }

  .day-of-week {
    margin-right: 0;
  }

  .item {
    align-items: center;
  }

  .form-city {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .inner-box-day {
    flex-direction: column;
  }
}